@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{  
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    
    background-image: url("https://images.unsplash.com/photo-1718376282635-f8cfb20d2c02?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90b3MtZmVlZHw5NHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;

}
.logo {
    position: absolute;
    left: 20px;
    width: 70px;
    cursor: pointer;
    object-fit: cover;

}

li, a, button,p,h1,h3{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #141413;
    text-decoration: none;
    
}
#header{
    display: flex;
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: center;
}
header{
   position: fixed;
   top: 1;
   width: 85%;
   height: 100px;
   background-color: #000303;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   box-shadow: 2px 2px 10px black;
   z-index: 99999;
   border-radius: 70px;
}
#home{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   margin-top: 150px;

}
#home img{
   width: 350px;
   border-radius: 20px;
}
header:hover{
    box-shadow: 2px 2px 25px black;
    transition: 0.5s;
}
.navlinks li{
    display: inline-block;
    margin: 30px;
    align-items: center;
}
.navlinks li a{
    color:wheat ;
}
.sidebar li a{
    color:wheat ;
}
.navlinks li a:hover{
    color: #00abf0;
    text-shadow: 1px 1px 5px white;
}

button{
    width: 100%;
    padding: 12px;
    background-color: #00abf0;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    transition: all 0.5s, ease 0s;
    border: none;
    z-index: 999;
}
button:hover{
    box-shadow: 1px 1px 5px black;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    z-index: 999;
    background-color: transparent;
    backdrop-filter: blur(10px);
    box-shadow: -3px 0 10px black;
    display: none;
    justify-content: flex-start;
    list-style: none;
    flex-direction: column;
    transition: transform 0.3s ease;
    transform: translateX(100%);
}
.sidebar li{
    width: 100%;
    margin: 25px;
    text-shadow: 1px 1px 2px black;
    
}
.sidebar img{
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 120px;
}
nav ion-icon{
    font-size: 2em;
    position: absolute;
    top: 35px;
    right: 20px;
}
h2{ 
    color: wheat;
    text-shadow: #002423 -2px 2px 10px;
    font-size: 2em;
    margin: 20%;
    text-align: center;
}
@media only screen and (min-width: 830px){
    .navlinks .burger{
        display: none;
        
    }
   }
   @media only screen and (max-width: 830px){
      .navlinks .items{
         display: none;
      }
      #home{
        flex-direction: column;
      }
}

